# Version Managers
[submodule "src/hardlink"]
	path = src/hardlink
	url = git@github.com:selkhateeb/hardlink.git
[submodule "src/tmux-macosx-pasteboard"]
	path = src/tmux-macosx-pasteboard
	url = git@github.com:ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "src/autoenv"]
	path = src/autoenv
	url = git://github.com/kennethreitz/autoenv.git
