# Version Managers
[submodule "nvm"]
	path = nvm
	# url = git@github.com:creationix/nvm.git
	url = git@github.com:mirell/nvm.git

# zsh plugins
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	# url = git@github.com:robbyrussell/oh-my-zsh.git
	url = git@github.com:mirell/oh-my-zsh.git

# vim plugins
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git

[submodule "src/hardlink"]
	path = src/hardlink
	url = git@github.com:selkhateeb/hardlink.git
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "src/hg-prompt"]
	path = src/hg-prompt
	url = git@github.com:mirell/hg-prompt.git
[submodule "vim/bundle/vim-notes"]
	path = vim/bundle/vim-notes
	url = git@github.com:xolox/vim-notes.git
[submodule "src/tmux-macosx-pasteboard"]
	path = src/tmux-macosx-pasteboard
	url = git@github.com:ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "src/autoenv"]
	path = src/autoenv
	url = git://github.com/kennethreitz/autoenv.git
